body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    height: 100%;
    background: linear-gradient(180deg, #F07A18 50%, lightslategray 50%);
    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column; 
      justify-content: center;
      width: 100%;
      min-height: 100%;
      padding-top: 60px;
      position: relative;
    .formWrapper {
      background-color: #f4f7f9;
      padding: 4.8rem 4.5rem;
      border-radius: 10%;
      transform: translateY(0);
      display: flex;
      align-items: center;
      flex-direction: column; 
      .formContent {
        display: flex;
        align-items: center;
        flex-direction: column; 
      .inputForm {
        font-size: 1.4rem;
        font-weight: 500;
        margin: 6px;
        input[type=email], input[type=password], input[type=text], input[type=submit] {
          background-color: #e3e8eb;
          text-transform: uppercase;
          border: .2rem solid #e3e8eb;
          border-radius: .4rem;
          box-shadow: none;
          color: #282a2d;
          display: block;
          height: 2.8rem;
          padding-left: 1.6rem;
          padding-right: 2rem;
          resize: none;
          transition: border-color .3s;
          width: 100%;
          border-radius: 3%;
          font-size: 1rem;
          text-align: center;
          cursor: pointer;
            &:hover{
              background-color: lightslategray;
            }
        
        }
      }
    }
    }
    #loginButton {
      color: black !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #e24f54;
      padding: 10px;
      border-radius: 50px;
      display: inline-block;
      border: none;
      transition: all 0.4s ease 0s;
      margin-top:5px;
      }
      #resiterlink {
        background: none!important;
        border: none;
        padding: 0!important;
        /*optional*/
        font-family: arial, sans-serif;
        /*input has OS specific font-family*/
        color: #069;
        text-decoration: underline;
        cursor: pointer;
      }
  }


}


