
   .rTable {
      display: table;
      width : 80%;
      background: lightgray;
      display: flex;
      flex-direction: column;
      border-radius: 1%;
  
      .rTableRow {
        width : 100%;
        box-shadow: rgb(232, 232, 232) 0px -1px 0px 0px inset;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 1%;
        cursor: pointer;
  
        &:hover{
           background-color: lightslategray;
           border-radius: 1%;
           color: limegreen;
        }
  
        .tableCol{
           width: 25%;
        }
   }
  
   }

